# For container onos
ONOS_APPS=drivers,fpm

# For container start_onos
TIMEOUT=120
URL=http://onos:8181/onos/v1/fpm/connections --user onos:rocks

# For container frr
PIPE_INTF=
PIPE_IP=

# For add route
CONF_DIR=./config
